div.header LENS
div.container.lens.row
    div.header SINGLE
    div.container.single
        ul.type
            li
                input#plastic(type="checkbox")
                label(for="plastic") Plastic
            li
                input#glass(type="checkbox")
                label(for="glass") Glass
            li
                input#trans(type="checkbox")
                label(for="trans") Transitions
            li
                input#hi(type="checkbox")
                label(for="hi") Hi-Index
            li
                input#poly(type="checkbox")
                label(for="poly") Polycarbonite
            li
                input#pgx(type="checkbox")
                label(for="pgx") PGX
            li
                input#pbx(type="checkbox")
                label(for="pbx") PBX
    div.header BIFOCAL
    div.container.bi
        ul.type
            li
                input#d25(type="checkbox")
                label(for="d25") D-25
            li
                input#d28(type="checkbox")
                label(for="d28") D-28
            li
                input#d35(type="checkbox")
                label(for="d35") D-35
            li
                input#d45(type="checkbox")
                label(for="d45") D-45
            li
                input#executive(type="checkbox")
                label(for="executive") Executive
            li
                input#round(type="checkbox")
                label(for="round") Round
            li
                input#blended(type="checkbox")
                label(for="blended") Blended
    div.header TRIFOCAL
    div.container.tri
        ul.type
            li
                input#tri7x25(type="checkbox")
                label(for="tri7x25") 7x25
            li
                input#tri7x28(type="checkbox")
                label(for="tri7x28") 7x28
            li
                input#tri8x35(type="checkbox")
                label(for="tri8x35") 8x35
            li
                input#triExecutive(type="checkbox")
                label(for="triExecutive") Executive
    div.header COLORED
    div.container.colored
        ul.type
            li
                input#coloredPlastic(type="checkbox")
                label(for="coloredPlastic") Plastic
            li
                input#coloredGlass(type="checkbox")
                label(for="coloredGlass") Glass
            li
                input#solid(type="checkbox")
                label(for="solid") Solid
            li
                input#gradient(type="checkbox")
                label(for="gradient") Gradient