form#newOrder(name="newOrder", ng-submit="submitOrder()", novalidate)
    div.grid-x.grid-margin-x(ng-controller="OrderCreateCtrl")
        div.large-12.cell
            div.header NEW ORDER
            div.container
                div.grid-x.grid-margin-x
                    div.cell.large-6
                        div.content
                            div.header ADDRESS
                            div.container.clearfix
                                div.grid-x.grid-margin-x
                                    div.medium-6.cell
                                        label.description First Name
                                            input(type="text", ng-model="order.information.fName")
                                    div.medium-6.cell
                                        label.description Last Name
                                            input(type="text", ng-model="order.information.lName")
                                div.grid-x.grid-margin-x
                                    div.medium-12.cell
                                        label.description Address 1
                                            input(type="text", ng-model="order.information.address1")
                                div.grid-x.grid-margin-x
                                    div.medium-12.cell
                                        label.description Address 2
                                            input(type="text", ng-model="order.information.address2")
                                div.grid-x.grid-margin-x
                                    div.medium-6.cell
                                        label.description City
                                            input(type="text", ng-model="order.information.city")
                                    div.medium-3.cell
                                        label.description State
                                            select(ng-model="order.information.state")
                                                option(value="AK") AK
                                                option(value="AL") AL
                                                option(value="AR") AR
                                                option(value="AZ") AZ
                                                option(value="CA") CA
                                                option(value="CO") CO
                                                option(value="CT") CT
                                                option(value="DC") DC
                                                option(value="DE") DE
                                                option(value="FL") FL
                                                option(value="GA") GA
                                                option(value="HI") HI
                                                option(value="IA") IA
                                                option(value="ID") ID
                                                option(value="IL") IL
                                                option(value="IN") IN
                                                option(value="KS") KS
                                                option(value="KY") KY
                                                option(value="LA") LA
                                                option(value="MA") MA
                                                option(value="MD") MD
                                                option(value="ME") ME
                                                option(value="MI") MI
                                                option(value="MN") MN
                                                option(value="MO") MO
                                                option(value="MS") MS
                                                option(value="MT") MT
                                                option(value="NC") NC
                                                option(value="ND") ND
                                                option(value="NE") NE
                                                option(value="NH") NH
                                                option(value="NJ") NJ
                                                option(value="NM") NM
                                                option(value="NV") NV
                                                option(value="NY") NY
                                                option(value="OH") OH
                                                option(value="OK") OK
                                                option(value="OR") OR
                                                option(value="PA") PA
                                                option(value="RI") RI
                                                option(value="SC") SC
                                                option(value="SD") SD
                                                option(value="TN") TN
                                                option(value="TX") TX
                                                option(value="UT") UT
                                                option(value="VA") VA
                                                option(value="VT") VT
                                                option(value="WA") WA
                                                option(value="WI") WI
                                                option(value="WV") WV
                                                option(value="WY") WY
                                    div.medium-3.cell
                                        label.description Zip Code
                                            input(name="zipCode", type="text", ng-model="order.information.zip", ng-pattern="/^\\d{5}(-\\d{4})?$/")
                                            span.error(ng-show="newOrder.zipCode.$invalid && !newOrder.zipCode.$pristine") Invalid zip code
                                div.grid-x.grid-margin-x
                                    div.medium-6.cell
                                        label.description Date of Birth
                                            input(name="dob", type="date", ng-model="order.information.dob", min="1850-01-01")
                                            span.error(ng-show="newOrder.dob.$invalid && !newOrder.dob.$pristine") Invalid date of birth
                                    div.medium-6.cell
                                        label.description Phone Number
                                            input(name="phone", type="text", ng-model="order.information.phone", ng-pattern="/^\\d{3}-\\d{3}-\\d{4}$/")
                                            span.error(ng-show="newOrder.phone.$invalid && !newOrder.phone.$pristine") Invalid phone number
                    div.cell.large-6
                        div.content
                            div.header PRESCRIPTION
                            div.container.clearfix.prescriptionContainer
                                ul.prescription.description
                                    li
                                    li Sphere
                                    li Cylinder
                                    li Axis
                                    li Prism
                                    li Base
                                ul.prescription
                                    li R
                                    li
                                        input(type="text", ng-model="order.prescription.right.sphere")
                                    li
                                        input(type="text", ng-model="order.prescription.right.cylinder")
                                    li
                                        input(type="text", ng-model="order.prescription.right.axis")
                                    li
                                        input(type="text", ng-model="order.prescription.right.prism")
                                    li
                                        input(type="text", ng-model="order.prescription.right.base")
                                ul.prescription
                                    li L
                                    li
                                        input(type="text", ng-model="order.prescription.left.sphere")
                                    li
                                        input(type="text", ng-model="order.prescription.left.cylinder")
                                    li
                                        input(type="text", ng-model="order.prescription.left.axis")
                                    li
                                        input(type="text", ng-model="order.prescription.left.prism")
                                    li
                                        input(type="text", ng-model="order.prescription.left.base")
                                ul.prescription
                                    li R
                                    li
                                        input(type="text", ng-model="order.prescription.right.reading")
                                    li.pupillary.description Pupillary Distance
                                    li.pupillary
                                        input(type="text", ng-model="order.prescription.pd")
                                    li.pupillaryUnit mm
                                ul.prescription
                                    li L
                                    li
                                        input(type="text", ng-model="order.prescription.left.reading")
                div.grid-x.grid-margin-x
                    div.cell.large-7
                        div.content
                            div.header LENS
                            div.container.clearfix
                                div.grid-x.grid-margin-x
                                    div.medium-6.cell
                                        label.description(for="material") Material
                                        select#material(ng-model="order.lens.material")
                                            option(value="Plastic") Plastic
                                            option(value="Glass") Glass
                                            option(value="Polycarb") Polycarb
                                            option(value="Trivex") Trivex
                                            option(value="1.60") 1.60
                                            option(value="1.67") 1.67
                                            option(value="1.74") 1.74
                                    div.medium-6.cell
                                        div(ng-if="order.lens.material === 'Glass'")
                                            label.description(for="glass") Glass Options
                                            select#glass(ng-model="order.lens.glassMaterialOption")
                                                option(value="None") None
                                                option(value="Clear") Clear
                                                option(value="PGX") PGX
                                                option(value="PBX") PBX
                                                option(value="Extra Active") Extra Active
                                        div(ng-if="order.lens.material !== 'Glass'")
                                            label.description(for="nonGlass") Non-Glass Options
                                            select#nonGlass(ng-model="order.lens.nonGlassMaterialOption")
                                                option(value="None") None
                                                option(value="Trans Gray") Trans Gray
                                                option(value="Trans Brown") Trans Brown
                                                option(value="Photo Fusion") Photo Fusion
                                                option(value="Polar Gray") Polar Gray
                                                option(value="Polar Brown") Polar Brown
                                                option(value="Antireflective") Antireflective
                                div.grid-x.grid-margin-x
                                    div.medium-6.cell
                                        label.description(for="material") Segment
                                        select#material(ng-model="order.lens.segment")
                                            option(value="Single") Single
                                            option(value="Bifocal") Bifocal
                                            option(value="Trifocal") Trifocal
                                            option(value="Progressive") Progressive
                                            option(value="Digital Progressive") Digital Progressive
                                    div.medium-6.cell
                                        div(ng-if="order.lens.segment === 'Bifocal'")
                                            label.description(for="bifocal") Bifocal Options
                                            select#bifocal(ng-model="order.lens.bifocalSegmentOption")
                                                option(value="None") None
                                                option(value="D-28") D-28
                                                option(value="D-35") D-35
                                                option(value="D-45") D-45
                                                option(value="Occupational") Occupational
                                        div(ng-if="order.lens.segment === 'Trifocal'")
                                            label.description(for="trifocal") Trifocal Options
                                            select#trifocal(ng-model="order.lens.trifocalSegmentOption")
                                                option(value="None") None
                                                option(value="7x28") 7x28
                                                option(value="8x35") 8x35
                                                option(value="Executive") Executive
                        div.content
                            div.header FRAME
                                div.orderOptions(ng-if="update", ng-click="$event.stopPropagation()")
                                    a.icon.icon-pencil(src="#", title="Existing Frames", ng-click="getExistingFrames();")
                            div.container.clearfix
                                div.grid-x.grid-margin-x
                                    div.medium-12.cell
                                        label.description(for="frame") Frame
                                        input#frame(type="text", ng-model="order.frame.name")
                                div.grid-x.grid-margin-x
                                    div.medium-6.cell
                                        label.description(for="frameColor") Color
                                        input#frameColor(type="text", ng-model="order.frame.color")
                                    div.medium-6.cell
                                        label.description(for="frameED") ED
                                        input#frameED(type="text", ng-model="order.frame.ed")
                                div.grid-x.grid-margin-x
                                    div.medium-6.cell
                                        label.description(for="frameLens") Lens Size
                                        input#frameLens(type="text", ng-model="order.frame.lens")
                                    div.medium-6.cell
                                        label.description(for="frameVertical") Vertical
                                        input#frameVertical(type="text", ng-model="order.frame.vertical")
                                div.grid-x.grid-margin-x
                                    div.medium-6.cell
                                        label.description(for="frameBridge") Bridge
                                        input#frameBridge(type="text", ng-model="order.frame.bridge")
                                    div.medium-6.cell
                                        label.description(for="frameTemple") Temple
                                        select#frameTemple(ng-model="order.frame.temple")
                                            option(value="130") 130
                                            option(value="135") 135
                                            option(value="140") 140
                                            option(value="145") 145
                                            option(value="150") 150
                                            option(value="155") 155
                                            option(value="160") 160
                    div.cell.large-5
                        div.content
                            div.header BILL
                            div.container.clearfix.bill
                                div.grid-x.grid-margin-x
                                    div.small-5.cell.description Name
                                    div.small-5.cell.description Price
                                    div.small-2.cell
                                div.grid-x.grid-margin-x(ng-repeat="lineItem in order.bill")
                                    div.small-5.cell
                                        input(type="text", ng-model="lineItem.name")
                                    div.small-5.cell
                                        input(name="lineItem{{$index}}", type="number", ng-model="lineItem.price", ng-change="updateBill()")
                                        span.error(ng-show="newOrder.lineItem{{$index}}.$invalid && !newOrder.lineItem{{$index}}.$pristine") Invalid amount
                                    div.small-2.cell
                                        a.icon.icon-close(ng-click="removeLineItem(lineItem)")
                                div.grid-x.grid-margin-x
                                    div.small-12.cell
                                        a(ng-click="addLineItem()")
                                            div#newLineItem.content
                                                div.icon.icon-plus
                                                    span.text Add New Line Item
                                hr
                                div.grid-x.grid-margin-x
                                    div.small-5.cell.description Tax (1%)
                                    div.small-2.cell
                                    div.small-5.cell {{order.tax | currency}}
                                div.grid-x.grid-margin-x
                                    div.small-5.cell.description Total
                                    div.small-2.cell
                                    div.small-5.cell {{order.total | currency}}
                div.grid-x.grid-margin-x
                    div.cell.large-12
                        div.content
                            div.header NOTES
                            div.container.clearfix
                                textarea(ng-model="order.notes")
                div.grid-x.grid-margin-x.submit
                    div.cell.large-12
                        button.button.radius(type="submit", ng-disabled="newOrder.$invalid", ng-click="submitOrder()") {{update ? 'Update' : 'Add New'}} Order
        script(type="text/ng-template", id="/existingFrames.html")
            div#existingFrames.content(ng-repeat="frame in existingFrames", ng-click="selectFrame(frame)")
                div.header FRAME
                div.container.frame
                    div.existingFrame
                        div.medium-12.cell
                            ul.frame
                                li.description Name
                                li {{frame.name}}
                        div
                            div.medium-6.cell
                                ul.frame
                                    li.description Color
                                    li {{frame.color}}
                            div.medium-6.cell.printHide
                                ul.frame
                                    li.description ED
                                    li {{frame.ed}}
                        div.clearfix.printHide
                            div.medium-6.cell
                                ul.frame
                                    li.description Lens Size
                                    li {{frame.lens}}
                            div.medium-6.cell
                                ul.frame
                                    li.description Vertical
                                    li {{frame.vertical}}
                        div.clearfix.printHide
                            div.medium-6.cell
                                ul.frame
                                    li.description Bridge
                                    li {{frame.bridge}}
                            div.medium-6.cell
                                ul.frame
                                    li.description Temple
                                    li {{frame.temple}}
            a.close-reveal-modal(ng-click="cancel()") &#215;