div.content.displayOrder(id="{{$order.id}}")
    div#overallHeader.header(ng-click="$order.expand = !$order.expand")
        div.orderOptions.expand
            a.icon(src="#", title="{{$order.expand ? 'Collapse' : 'Expand'}}", ng-class="{'icon-magnifier-add': !$order.expand, 'icon-magnifier-remove': $order.expand}")
        span ORDER FROM {{$order.dateOfSale | date:'MM/dd/yyyy'}}
        div.orderOptions(ng-click="$event.stopPropagation()")
            a.icon.icon-close(src="#", title="Delete")
            a.icon.icon-pencil(src="#", title="Edit")
            a.icon.icon-printer(src="#", title="Print Receipt", ng-click="printReceipt($order);")
    div.container.hide(ng-class="{'show':$order.expand}")
        div.row
            div#information.large-5.columns
                div.content
                    div.header INFORMATION
                    div.container(ng-include, onload="$address = $order.information", src="'/address.html'")
            div#prescription.large-7.columns
                div.content(ng-class="{address2: $order.information.address2}")
                    div.header PRESCRIPTION
                    div.container.prescription(ng-include, onload="$prescription = $order.prescription", src="'/prescription.html'")
        div.row
            div#glasses.large-7.columns
                div#lens.content
                    div.header LENS
                    div.container.lens
                        div
                            div.medium-6.columns
                                ul.lens
                                    li.description Material
                                    li {{$order.lens.material}}
                            div.medium-6.columns
                                ul.lens
                                    li.description.option Option
                                    li {{$order.lens.materialOption}}
                        div
                            div.medium-6.columns
                                ul.lens
                                    li.description Segment
                                    li {{$order.lens.segment}}
                            div.medium-6.columns(ng-if="$order.lens.segmentOption")
                                ul.lens
                                    li.description.option Option
                                    li {{$order.lens.segmentOption}}
                div#frame.content
                    div.header FRAME
                    div.container.frame
                        ul.frame
                            li.description Name
                            li {{$order.frame.name}}
                        div
                            div.medium-6.columns
                                ul.frame
                                    li.description Color
                                    li {{$order.frame.color}}
                            div.medium-6.columns.printHide
                                ul.frame
                                    li.description ED
                                    li {{$order.frame.ed}}
                        div.clearfix.printHide
                            div.medium-6.columns
                                ul.frame
                                    li.description Lens Size
                                    li {{$order.frame.lens}}
                            div.medium-6.columns
                                ul.frame
                                    li.description Vertical
                                    li {{$order.frame.vertical}}
                        div.clearfix.printHide
                            div.medium-6.columns
                                ul.frame
                                    li.description Bridge
                                    li {{$order.frame.bridge}}
                            div.medium-6.columns
                                ul.frame
                                    li.description Temple
                                    li {{$order.frame.temple}}
                div#notes.content
                    div.header NOTES
                    div.container.notes {{$order.notes}}
            div#bill.large-5.columns
                div.content
                    div.header BILL
                    div.container.bill
                        ul.bill(ng-repeat="lineitem in $order.bill")
                            li.description {{lineitem.name}}
                            li {{lineitem.price | currency}}
                        hr
                        ul.bill
                            li.description Tax (1%)
                            li {{$order.tax | currency}}
                        ul.bill
                            li.description Total
                            li {{$order.total | currency}}