div.content
    div.header {{$order.dateOfSale | date:'MM/dd/yyyy'}}
    div.container
        div.row
            div.large-5.columns
                div(ng-include, onload="$address = $order.information", src="'/address.html'")
            div.large-7.columns
                div(ng-include, onload="$prescription = $order.prescription", src="'/prescription.html'")
        div.large-12
            div.header FRAME
            div.container
        div.large-12
            include ../partials/lens
        div.large-12
            div.header NOTES
            div.container
                textarea(rows=6)