ul.prescription.description
   li
   li Sphere
   li Cylinder
   li Axis
   li Prism
   li Base
ul.prescription
   li R
   li {{$prescription.right.sphere}}
   li {{$prescription.right.cylinder}}
   li {{$prescription.right.axis}}
   li {{$prescription.right.prism}}
   li {{$prescription.right.base}}
ul.prescription
   li L
   li {{$prescription.left.sphere}}
   li {{$prescription.left.cylinder}}
   li {{$prescription.left.axis}}
   li {{$prescription.left.prism}}
   li {{$prescription.left.base}}
ul.prescription
   li R
   li {{$prescription.right.reading}}
   li.pupillary.description Pupillary Distance
   li.pupillary {{$prescription.pd}}mm
ul.prescription
   li L
   li {{$prescription.left.reading}}
