ul.prescription.description
   li
   li Sphere
   li Cylinder
   li Axis
   li Prism
   li Base
ul.prescription
   li R
   li {{$info.right.sphere}}
   li {{$info.right.cylinder}}
   li {{$info.right.axis}}
   li {{$info.right.prism}}
   li {{$info.right.base}}
ul.prescription
   li L
   li {{$info.left.sphere}}
   li {{$info.left.cylinder}}
   li {{$info.left.axis}}
   li {{$info.left.prism}}
   li {{$info.left.base}}
ul.prescription
   li R
   li {{$info.right.reading}}
   li.pupillary.description Pupillary Distance
   li.pupillary {{$info.pd}}mm
ul.prescription
   li L
   li {{$info.left.reading}}
