div#search.noPrint(ng-controller="SearchCtrl")
    div.content.search(ng-click="redirectToSearch()")
        input(type='text', placeholder='Search...', ng-click="$event.stopPropagation()", ng-model="searchValue", ng-keyup="$event.keyCode == 13 && redirectToSearch()")