.content {
  @include prefixer(box-shadow, 0 0 5px rgba(#999, 0.75), webkit moz spec);
  @include clearfix();

  margin: 0 auto .9375rem;
  max-width: $max-width;
  background-color: $white;
  border: solid 1px $gray-lighter-still;

  &.information {
    .container {
      min-height: 174px;
    }
  }

  .header {
    background-color: $blue-light;
    border: none;
    border-bottom: solid 1px $gray-lighter-still;
    color: $black;
    font-weight: 700;
    margin: 0;
    padding: 10px 20px;
    height: auto;

    @media #{$small-only} {
      padding: 10px 5px;
    }
  }

  .container {
    padding: 10px 20px;

    @media #{$small-only} {
      padding: 10px 5px;
    }

    .description {
      font-style: italic;
      font-weight: 700;
      color: $blue-dark;
    }
  }
}