#header {
  @include size(100% 75px);
  line-height: 110%;
  border-bottom: solid 3px $black;
  background-color: $teal;
  text-align: center;
  font-size: 500%;
  font-family: $cursive-family;
  margin-bottom: 15px;

  @media #{$small-only} {
    height: 47px;
    font-size: 200%;
    line-height: 180%;
  }
}

  img {
    @include size(64px 48px);
    position: relative;
    top: -6px;

    @media #{$small-only} {
      @include size(48px 36px);
      top: -4px;
    }
  }

  span {
    &:first-child {
      margin-right: 20px;
    }
    &:last-child {
      margin-left: 20px;
    }

    @media #{$small-only} {
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }