.displayOrder .content div.container.lens {
  min-height: 70px;

  @media #{$small-only} {
    min-height: 110px;
  }

  .columns {
    padding: 0;
  }
}

ul.lens {
  list-style: none;
  margin: 0;
  width: 100%;

  li {
    &.description {
      width: 70px;
    }

    display: inline-block;
    width: auto;

    @media #{$small-only} {
      &.option {
        padding-left: 10px;
      }
    }
  }
}