.lens {
  .header,
  .container {
    padding: 0;
    margin: 0;
  }

  .container {
    min-height: 35px;
  }

  ul {
    display: table;
    list-style: none;
    width: 100%;

    li {
      display: table-cell;
    }
  }
}