#newPerson {
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  color: $gray-lighter;
  text-align: center;

  .icon {
    padding: 10px 0 0 10px;

    .text {
      font-family: $sans-family;
      padding-left: 10px;
    }
  }
}