.search {
  height: 36px;
  padding-right: 35px;
  background: url('/img/search.png') top right no-repeat;
  cursor: pointer;

  input[type=text] {
    margin: 0;
    height: 36px;
    font-size: 1em;
    cursor: initial;
    width: 100%;
    position: relative;
    top: -1px;
    left: -1px;
  }
}

.searchResult {
  cursor: pointer;

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $black;
  }

  .notice {
    text-align: center;
    font-size: 2em;
    cursor: default;
  }

  .header {
    background-color: $blue-dark;
    color: $white;
    font-size: 1.1em;
  }

  .innerContent {
    margin-top: .9375rem;

    .header {
      background-color: $teal;
      color: $black;
      font-size: 1em;
    }

    .content {
      .container {
        min-height: 180px;
      }
    }
  }
}