.search {
  @include size(100% 36px);

  padding-right: 36px;
  background: url('/img/search.png') top right no-repeat;
  cursor: pointer;

  input[type=text] {
    margin: 0;
    height: 36px;
    font-size: 1em;
    padding-top: .33em;
    cursor: initial;
  }
}

.searchResult {
  cursor: pointer;

  .innerContent {
    margin-top: .9375rem;

    .content {
      .container {
        min-height: 180px;
      }
    }
  }
}