extends layout

block content
    div.row
        div.large-12.columns
            div.content.search
                input(type='text', placeholder='Search...')
    div.row
        div.large-5.columns
            div.content
                div.header
                    | PERSONAL INFORMATION
                div.container
                    div.name
                        | {{FirstName}} {{LastName}}
                    div
                        | {{Address1}}
                    div
                        | {{Address2}}
                    div
                        | {{City}}, {{State}}   {{ZipCode}}
        div.large-7.columns.mostRecentPrescription
            div.content
                div.header
                    | MOST RECENT PRESCRIPTION
                div.container
                    include prescription