ul.prescription.description
   li
   li Sphere
   li Cylinder
   li Axis
   li Prism
   li Base
ul.prescription
   li R
   li {{Sphere}}
   li {{Cylinder}}
   li {{Axis}}
   li {{Prism}}
   li {{Base}}
ul.prescription
   li L
   li {{Sphere}}
   li {{Cylinder}}
   li {{Axis}}
   li {{Prism}}
   li {{Base}}
ul.prescription
   li R
   li {{Sphere}}
ul.prescription
   li L
   li {{Sphere}}