@media print {
  .header {
    background-color: white;

    .logo {
      span:first-child {
        margin-left: 2px;
      }
      span:last-child {
        margin: 2px;
      }

      img {
        display: none;
      }
    }
  }

  .index {
    * {
      display: none;
    }
  }

  .print {
    display: block;

    #overallHeader,
    .printHide {
      display: none;
    }

    .printHeader {
      margin-top: -16px;
      list-style: none;
      width: 100%;

      li {
        display: inline-block;
        font-style: italic;
        width: 33%;
        text-align: center;
      }
    }

    .container {
      display: block;

      #notes,
      #prescription {
        display: none;
      }

      #information {
        position: relative;
        width: 100%;
        top: -30px;
      }

      $top: 340px;
      $offset: 34px;

      #lens,
      #frame {
        width: 50%;
        position: absolute;
        top: $top;
        left: $offset;
      }

      #frame {
        top: $top + 160;
      }

      // emulate .large-5.columns as Foundation hides them from print styles
      #bill {
        width: 40%;
        position: absolute;
        top: $top;
        right: $offset;
      }
    }
  }
}

@media screen {
  .print {
    display: none;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}