// FONTS
$font-size: 14px;
$sans-family: "Lato", Arial, sans-serif;
$cursive-family: "Alex Brush", cursive;

// COLORS

// blue palette
$blue-light: #249AEF;
$blue-light-accent: #4583C2;
$blue: #001F63;
$blue-dark: #001B5E;
$teal: rgba(#05B8CC, .9);

// gray palette
$gray-lightest: #E1E6EB;
$gray-lighter-still: #CCC;
$gray-lighter: #919AA1;
$gray-light: #666666;
$gray: #4F5B66;
$gray-dark-lighter: #43515F;
$gray-dark: #3F4952;
$gray-darker: #2F3942;
$gray-darkest: #1e2633;

// white palette
$white-background: #F9FBFC;
$white-border: #E2E6EB;
$white-darker: #EBEEF2;
$cream: #F5F8FA;
$cream-accent: #F9FBFC;
$cream-border: #DFECFA;
$off-white: #FFFFE0;
$off-white-accent: #DFE2E6;

// green palette
$dark-green: #249A24;